input#url_holder {
  width: 60%;
  border: none;
  border-right: var(--border);
  border-radius: 0px;
  font-style: italic;
}
div#button_holder {
  padding-top: 5px;
  border-top: var(--border);
}
main#field_holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px;
  text-align: start; /* Align delete button and title to start rather than center */
}
div.note {
  display: inline-block;
  text-align: start;
  width: fit-content;
  margin: 2px;
  border: 0px;
}
div.note button {margin-right: 5px;}