body {
  font-size: 10px;
  --background-colour: white;
  --foreground-colour: black;
  --accent-colour: orangered;
}
main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}
div.note {
  display: inline-block;
  width: fit-content;
  margin: 2px;
  border: 0px;
}
input {
  border: 0px;
  border-bottom: 1px solid var(--foreground-colour);
  margin-bottom: 5px;
}
h1 {
  font-size: 2rem;
}
p, input, textarea {
  font-size: 1rem;
}
button {
  border: 1px solid var(--foreground-colour);
  border-radius: 5px;
  background-color: var(--primary-colour);
}
div.note button {
  margin-right: 5px;
}